:root {
  --gradient: linear-gradient(90deg, #4571e2, #485e95);
}

/* #637cbb, #485e95 */

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

::selection {
  background: #fff;
  color: #333;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  background-color: #333;
}

section {
  padding: 0 7%;
}

.btn {
  padding: 0.6rem 3rem;
  font-size: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  background: var(--gradient);
  color: #fff;
}

.btn:hover {
  background: #fff;
  color: #333;
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #fff;
  padding: 1rem;
  padding-top: 8.5rem;
  width: 50rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--gradient);
  z-index: 1000;
  padding: 2rem 7%;
}

header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
}
header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li a {
  font-size: 2rem;
  margin-left: 2rem;
  color: #fff;
  position: relative;
}

header .navbar ul li a::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  height: 0.2rem;
  width: 0%;
  background: #fff;
  transition: 0.2s linear;
}

header .navbar ul li a.active::before,
header .navbar ul li a:hover::before {
  left: 0;
  width: 100%;
}

header #menu {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: url(./images/home4.webp) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 9rem;
}

.home .image {
  padding: 1rem;
  flex: 1 1 40rem;
  text-align: center;
}

.home .image img {
  height: 70vh;
  padding-top: 1rem;
}

.home .content {
  padding: 1rem;
  flex: 1 1 40rem;
}

.home .content h1 {
  font-size: 6rem;
  color: #fff;
}

.home .content p {
  font-size: 1.7rem;
  color: #eee;
  padding: 1rem 0;
}

.core {
  min-height: 100vh;
}

.core .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.core .row .image {
  text-align: center;
  flex: 1 1 30rem;
}

.core .row .image img {
  height: 65vh;
  padding: 2rem 0;
}

.core .row .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}

.core .row .box-container .box {
  margin: 2rem;
  padding: 2rem;
  width: 30rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  background: #444;
  border-radius: 0.5rem;
}

.core .row .box-container .box:hover {
  background: var(--gradient);
}

.core .row .box-container .box:hover i {
  color: #fff;
}

.core .row .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.core .row .box-container .box h3 i {
  color: #637cbb;
  padding-right: 0.7rem;
}

.core .row .box-container .box p {
  font-size: 1.5rem;
  color: #eee;
  padding: 2rem 1rem;
}

/* Media queries */

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  header #menu {
    display: block;
  }

  header .navbar {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    background: #fff;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }

  header .navbar ul li {
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a {
    display: block;
    background: var(--gradient);
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2.5rem;
    z-index: 0;
  }

  header .navbar ul li a::before {
    height: 100%;
    bottom: 0;
    z-index: -1;
    background: #333;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle {
    top: 7.4rem;
  }

  .home .content {
    text-align: center;
  }

  .core .row .image {
    display: none;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .home .content h1 {
    font-size: 4rem;
  }

  .home .image img {
    height: auto;
    width: 90%;
  }

  .heading {
    width: auto;
  }
}
